name: gradle

on:
  push:
    branches: [main, ci]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Grant execute permission for gradlew
        run: chmod +x ./Team3749-2021/gradlew

      - name: Build with Gradle
        run: ./Team3749-2021/gradlew build
