name: gradle

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        use: actions/setup-node@v1

      - run: npm i -g prettier
      - run: prettier --check .
